{erl_opts, [
    bin_opt_info,

    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_untyped_record,

    {parse_transform, lager_transform},
    {lager_truncation_size, 4096}
]}.

{deps_dir, "deps"}.

{deps, [
    {lager, "2.1.0",
        {git, "git://github.com/basho/lager.git",
            {tag, "2.1.0"}}}
]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{eunit_compile_opts, [export_all]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
